Repository jenkinsci/conventional-commits-plugin, pull requests merged in 2021-07, with the labels that each got.

#47 fix: update breaking change footer
  src/main/java/io/jenkins/plugins/conventionalcommits/ConventionalCommits.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/LogUtils.java
  src/test/java/io/jenkins/plugins/conventionalcommits/ConventionalCommitsTest.java
Labels: bug

#54 feat: add Make project type
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/MakeProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: enhancement

#52 feat: Read current version for a NPM project
  pom.xml
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/NpmProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: enhancement

#58 feat: add maven dependency caching
  .github/workflows/cd.yaml
Labels: enhancement, github_actions

#60 fix: fix checkstyle bugs
  pom.xml
  src/main/java/io/jenkins/plugins/conventionalcommits/ConventionalCommits.java
  src/main/java/io/jenkins/plugins/conventionalcommits/NextVersionStep.java
  src/main/java/io/jenkins/plugins/conventionalcommits/process/DefaultProcessHelper.java
  src/main/java/io/jenkins/plugins/conventionalcommits/process/ProcessHelper.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersion.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/GradleProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/LogUtils.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/MakeProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/MavenProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/NpmProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
  src/test/java/io/jenkins/plugins/conventionalcommits/ConventionalCommitsTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/JenkinsTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: bug

#62 fix: corrected the downloads badge
  README.md
Labels: bug

#61 feat: add python project type
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/PythonProjectType.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: enhancement

#66 feat: add python pyproject.toml support
  pom.xml
  src/main/java/io/jenkins/plugins/conventionalcommits/dto/PyProjectTOML.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/PythonProjectType.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: enhancement

#65 feat: Current version for Helm project type
  pom.xml
  src/main/java/io/jenkins/plugins/conventionalcommits/dto/HelmChart.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/HelmProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: enhancement

#69 fix: use the jackson api plugin for dependencies
  pom.xml
Labels: bug

#72 fix: correct checkstyle errors
  src/main/java/io/jenkins/plugins/conventionalcommits/ConventionalCommits.java
  src/main/java/io/jenkins/plugins/conventionalcommits/NextVersionStep.java
  src/main/java/io/jenkins/plugins/conventionalcommits/dto/HelmChart.java
  src/main/java/io/jenkins/plugins/conventionalcommits/dto/PyProjectTOML.java
  src/main/java/io/jenkins/plugins/conventionalcommits/dto/PyProjectToml.java
  src/main/java/io/jenkins/plugins/conventionalcommits/process/DefaultProcessHelper.java
  src/main/java/io/jenkins/plugins/conventionalcommits/process/ProcessHelper.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersion.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/GradleProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/HelmProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/LogUtils.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/MakeProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/MavenProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/NpmProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectType.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/PythonProjectType.java
  src/test/java/io/jenkins/plugins/conventionalcommits/JenkinsTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/CurrentVersionTest.java
  src/test/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeTest.java
Labels: bug

#74 fix: correct invalid javadoc, add a check to validate
  .github/workflows/javadoc.yml
  src/main/java/io/jenkins/plugins/conventionalcommits/utils/ProjectTypeFactory.java
Labels: bug, github_actions

#55 chore: add a github action to check java formatting
  .github/workflows/java-format.yml
  pom.xml
Labels: chore, github_actions

#78 feat: add build metadata support
  README.md
  src/main/java/io/jenkins/plugins/conventionalcommits/NextVersionStep.java
  src/test/java/io/jenkins/plugins/conventionalcommits/JenkinsTest.java
Labels: enhancement

#79 fix: make buildMetadata transient
  src/main/java/io/jenkins/plugins/conventionalcommits/NextVersionStep.java
Labels: bug
